# WEEK 02
# Encounter 05 - Functions
# Project Challenge

## Task Description

### Total number of babys in specific years

   * Using your parse_dataset() function write a program that calculates the total number of babys for the year 2020 and prints the number to the screen. Make sure to select the correct column to sum.
   * Do the same for 1950 and compare the results
   * What other interesting insights can you find about about a year using some of pandas methods?

**Hint:** Try combining some methods like .sort_values(), .count(), .head() and others.

In [1]:
import pandas as pd
import os  # for checking if the file with constructed puth exists

In [2]:
# list of columns in DataFrame
col_list=['name', 'gender', 'frequency']

In [3]:
def parse_dataset(year):
    '''Function accepts year, reads appropriate data file and returns DataFrame with header'''
    
    # Check if entered YEAR is at least an INT number; if not, return a text message
    if type(year) is int:
        path = f'../data/yob{year}.txt'
        if os.path.isfile(path):
            dataset = pd.read_csv(path, names=col_list)
            return dataset
        else:
            return print(f'There is no file with entered YEAR = \'{year}\'!')
    
    else:
        return print(f'Entered YEAR = \'{year}\' is not an INT value!')

## Year = 2020

In [4]:
# constants and variable to return definitions
year = 2020
babys_total_by_year = {}

# saving result of parse_dataset function to 'df' DataFrame
df = parse_dataset(year)

# calculation sum() over 'frequency' column
babys_total_by_year[year] = df['frequency'].sum()
babys_total_by_year

{2020: 3327419}

### Additional stats about particular year:

In [5]:
df

            name gender  frequency
0         Olivia      F      17641
1           Emma      F      15656
2            Ava      F      13160
3      Charlotte      F      13065
4         Sophia      F      13036
...          ...    ...        ...
31448     Zykell      M          5
31449      Zylus      M          5
31450     Zymari      M          5
31451        Zyn      M          5
31452      Zyran      M          5

[31453 rows x 3 columns]

In [6]:
# for 2020 DataFrame
# sorted by 'frequency' descending toget the most popular name

# sort DataFrame and save new order in it
df.sort_values(by = 'frequency', ascending=False, inplace=True)

most_pop_name = df.iloc[0,0] # 'Liam'
most_pop_name_freq = df.iloc[0,2] # 19777
most_pop_name_gen = df.iloc[0,1] # 'M'

# Info message
f'The most popular name in {year} year was {most_pop_name},  gender is {most_pop_name_gen} \
there were {most_pop_name_freq} babies born with this name.'

'The most popular name in 2020 year was Liam,  gender is M there were 19777 babies born with this name.'

In [7]:
# top 5 popular names in 2020 year
df.head(5)

         name gender  frequency
17447    Liam      M      19777
17448    Noah      M      18364
0      Olivia      F      17641
1        Emma      F      15656
17449  Oliver      M      14234

In [8]:
# total number of records for year 2020
df.count() # 31_453

name         31453
gender       31453
frequency    31453
dtype: int64

In [9]:
# count for unique values -> some names refer to a few rows (of different gender)
df.nunique() # 28_766

name         28766
gender           2
frequency     1377
dtype: int64

## Year = 1950

In [10]:
year = 1950
df = parse_dataset(year)

# calculation sum() over 'frequency' column
babys_total_by_year[year] = df['frequency'].sum()
babys_total_by_year

{2020: 3327419, 1950: 3503444}

In [11]:
# for 1950 DataFrame
# sorted by 'frequency' descending toget the most popular name

# sort DataFrame and save new order in it
df.sort_values(by = 'frequency', ascending=False, inplace=True)

most_pop_name = df.iloc[0,0] # 'James'
most_pop_name_freq = df.iloc[0,2] # 86229 
most_pop_name_gen = df.iloc[0,1] # 'M'

# Info message
f'The most popular name in {year} year was {most_pop_name},  gender is {most_pop_name_gen} \
there were {most_pop_name_freq} babies born with this name.'

'The most popular name in 1950 year was James,  gender is M there were 86229 babies born with this name.'

In [12]:
# total amount ofrecords
df.count()

name         10305
gender       10305
frequency    10305
dtype: int64

In [13]:
# count for unique values -> some names refer to a few rows (of different gender)
df.nunique()

name         9281
gender          2
frequency    1000
dtype: int64

# RESULTS INSITES:

1. In 2020 there is a bit less names than in 1950 (3_503_444 in 1950 vs 3_327_419 in 2020).
   It means the population quantity is slightly reducing.
   
2. In 1950 the most popular name was of 'male' gender. The same for 2020.

3. In 1950 the most popular name was 4.4 time more popular (frequency 86_229 vs 19_777).

4. The amount of unique baby names per year (comparing to the total quantity) shows that:
    * some names are included more than one time (check if that is because 'M', 'F' rows pair for the same name).
    * names diversity in 2020 is three times more than was in 1950 (9_281 in 1950 vs 28_766 in 2020).

# DEBUG (THIS PART DOESN'T WORK)

In [14]:
#babys_total_by_year.keys()

In [15]:
#babys_total_by_year.values()

In [16]:
#year_list = babys_total_by_year.keys()      # dict_keys([2020, 1950])
#totals_list = babys_total_by_year.values()  # dict_values([3327419, 3503444])

### Works incorrectly!
        df_res = pd.DataFrame([year_list, totals_list], columns=['year','total number of babies'])
    
**Returns:**

### year 	total number of babies
### 0 	2020 	1950
### 1 	3327419 	3503444

In [17]:
#df_res = pd.DataFrame([year_list, totals_list], columns=['year','total number of babies'])
df_res = pd.DataFrame([babys_total_by_year], columns=['year','total number of babies'])
df_res

# returns DataFrame with 1 record and both 'NaN' values

   year  total number of babies
0   NaN                     NaN