# WEEK 02
# Encounter 05 - s
# Project Challenge (PART 2)

## Task Description

Write code to combine datasets for analysis

Using the **parse_dataset(year)** custom function as a starting point, create code that loops over every year in the baby names data folder and combine the datasets into one dataset.

    1. Define empty DataFrame with the columns names, gender, frequency as df
    2. Loop over each year and apply the parse_dataset() function to each year and save it in a variable such as df_temp. The loop would look something like this:

> for year in range(1880, 2021):
>    ...

    3. Within the loop add a columnto df_temp in each iteration with the following code:

> df_temp['year']=year

    4. Use the pd.concat() function to combine df and df_temp in every iteration until all datasets have been combined into one. The code should then return the dfvariable as a DataFrame with all names from 1880 to 2020 similar to the image below:

> baby df

    5. Save the DataFrame in your data folder for later use:

> df.to_csv('../data/baby_names_all_years.csv', index=False)

    6. Using the combined DataFrame and the method .sort_values() figure out which name had the all time highest frequency and in which year.

**Bonus:**
   * Wrap code into a function
   * Input arguments could be the start and end year
   * Output would be the complete dataframe with all years and names
   * Function could also save the dataframe locally for later use

In [1]:
import pandas as pd
import os  # for checking if the file with constructed puth exists

In [6]:
# list of columns in DataFrame
col_list=['name', 'gender', 'frequency']

In [7]:
def parse_dataset(year):
    '''Function accepts year, reads appropriate data file and returns DataFrame with header'''
    
    # Check if entered YEAR is at least an INT number; if not, return a text message
    if type(year) is int:
        path = f'../data/yob{year}.txt'
        if os.path.isfile(path):
            dataset = pd.read_csv(path, names=col_list)
            return dataset
        else:
            return print(f'There is no file with entered YEAR = \'{year}\'!')
    
    else:
        return print(f'Entered YEAR = \'{year}\' is not an INT value!')

In [23]:
# 1. Define empty DataFrame with the columns names, gender, frequency as df

df = pd.DataFrame([], columns=['name', 'gender', 'frequency'])
df

Empty DataFrame
Columns: [name, gender, frequency]
Index: []

In [24]:
# 2. Loop over each year and apply the parse_dataset() function to each year and save it in a variable such as df_temp.
# 3. Within the loop add a columnto df_temp in each iteration.
# 4. Use the pd.concat() function to combine df and df_temp in every iteration until all datasets have been combined into one.
#    The code should then return the 'df' variable as a DataFrame with all names from 1880 to 2020.

for year in range(1880, 2021):
    # parsing current year dataset
    df_temp = parse_dataset(year)
    # adding 'year' column to the dataframe
    df_temp['year'] = year
    # combining df and df_temp in every iteration
    df = pd.concat([df, df_temp], ignore_index=True)
    
# Additional Series type convertion to represent year as 'DDDD' instead of 'DDDD.0'
df['year'] = df['year'].astype(int)

In [25]:
df  # returns: 2_021_244 rows × 4 columns

              name gender frequency  year
0             Mary      F      7065  1880
1             Anna      F      2604  1880
2             Emma      F      2003  1880
3        Elizabeth      F      1939  1880
4           Minnie      F      1746  1880
...            ...    ...       ...   ...
2021239     Zykell      M         5  2020
2021240      Zylus      M         5  2020
2021241     Zymari      M         5  2020
2021242        Zyn      M         5  2020
2021243      Zyran      M         5  2020

[2021244 rows x 4 columns]

In [26]:
# 5. Save the DataFrame in your data folder for later use:
# Note that the file has a header record!

df.to_csv('../data/baby_names_all_years.csv', index=False)

In [30]:
# 6. Using the combined DataFrame and the method .sort_values() figure out which name 
#    had the all time highest frequency and in which year.

most_pop_name = df.sort_values(by = 'frequency', ascending=False).iloc[0, 0]
most_pop_name # Linda

'Linda'

In [31]:
most_pop_name_year = df.sort_values(by = 'frequency', ascending=False).iloc[0, 3]
most_pop_name_year # 1947

1947

## Bonus:

   * Wrap code into a function
   * Input arguments could be the start and end year
   * Output would be the complete dataframe with all years and names
   * Function could also save the dataframe locally for later use