# Week 02
# Encounter 03 Functions
# Project Challenge

Write a function **parse_dataset(year)** that helps you work with the data.

The function should:

   * accept a single year as input value
   * construct a valid file path
   * read in the corresponding names dataset
   * define the correct column index for the data set
   * output the dataset as a pandas dataframe

In [1]:
import pandas as pd
import os  # for checking if the file with constructed puth exists

In [2]:
# constants definition

# list of columns in DataFrame
col_list=['name', 'gender', 'frequency']

In [3]:
def parse_dataset(year):
    '''Function accepts year, reads appropriate data file and returns DataFrame with header'''
    
    # Check if entered YEAR is at least an INT number; if not, return a text message
    if type(year) is int:
        path = f'../data/yob{year}.txt'
        if os.path.isfile(path):
            dataset = pd.read_csv(path, names=col_list)
            return dataset
        else:
            return print(f'There is no file with entered YEAR = \'{year}\'!')
    
    else:
        return print(f'Entered YEAR = \'{year}\' is not an INT value!')

## Function Execution Cases

### Test 1 - Check invalid YEAR
**Expected:**  The function returns text message about incorrect input parameter

In [4]:
# to check invalid YEAR
year = 'abc'

res = parse_dataset(year)
res

Entered YEAR = 'abc' is not an INT value!

### Test 2 - Check valid YEAR, but out of range
**Expected:**  TBD

In [5]:
# to check the function with a valid YEAR, but out of range - TO BE TESTED
year = 2024

res = parse_dataset(year)
res

There is no file with entered YEAR = '2024'!

### Test 3 - Main Test
**Expected:**  The function returns DataFrame with columns 'name', 'gender', 'frequency'

In [6]:
# to check the fnction with a valid YEAR
year = 1880

res = parse_dataset(year)
res

           name gender  frequency
0          Mary      F       7065
1          Anna      F       2604
2          Emma      F       2003
3     Elizabeth      F       1939
4        Minnie      F       1746
...         ...    ...        ...
1995     Woodie      M          5
1996     Worthy      M          5
1997     Wright      M          5
1998       York      M          5
1999  Zachariah      M          5

[2000 rows x 3 columns]

## DEBUG NOTES:

        a = 23

        # if type(a) == 'int': # Doesn't work ((((
        if type(a) is int:
            a
        else:
            'smth went wrong..'
    
        a

In [7]:
# import os    # moved to the beginning of JupyterNotebook

# test_path = '' # False
# test_path = '../data/yob2024.txt' # False
test_path = '../data/yob2000.txt' # True

os.path.isfile(test_path)

# is also true:
# os.path.isfile(test_path) is True

True