### Parsing genres

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('../data/movies.csv')
movies

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9724,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9725,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9726,193585,Flint,Drama,2017
9727,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9728,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [ ]:
genres_lst = []

In [5]:
# outer loop counter
# number of rows in the dataframe
rows_number = movies['genres'].count()
rows_number

9729

In [3]:
# example of getting particular 'genres' value
movies['genres'].iloc[0]

'Adventure|Animation|Children|Comedy|Fantasy'

In [9]:
# spliting genres value by separator -> list of values
current_genre = movies['genres'].iloc[0].split('|')
current_genre

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [10]:
# inner loop counter
# i don't need it :)
genres_qty = len(current_genre)

5

In [11]:
# getting list of unique pure genres

# outer loop counter: 'movies' dataframe size 
rows_number = movies['genres'].count()

pure_genres = []

for i in range(0, rows_number):
    # split 'genres' value for current dataframe row
    current_genre = movies['genres'].iloc[i].split('|')
    
    # loop over splitted list
    for item in current_genre: 
        if item not in pure_genres: 
            pure_genres.append(item)

# displaying the list of unique pure genres
pure_genres

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'War',
 'Musical',
 'Documentary',
 'IMAX',
 'Western',
 'Film-Noir',
 '(no genres listed)']

In [12]:
# number of unique pure genres
len(pure_genres)

20