# WEEK 03
# Encounter 08 - Visualization Best Practices
# Project Challenge - Make an animated plot

# BELARUS

In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
gapminder = pd.read_csv('../data/gapminder_total.csv')
gapminder.head()

       country    year  life expectancy continent  population  fertility
0  Afghanistan  1950.0            26.85      Asia   7752118.0       7.67
1  Afghanistan  1951.0            27.13      Asia   7839426.0       7.67
2  Afghanistan  1952.0            27.67      Asia   7934798.0       7.67
3  Afghanistan  1953.0            28.19      Asia   8038312.0       7.67
4  Afghanistan  1954.0            28.73      Asia   8150037.0       7.67

In [8]:
# converting 'year' and 'population' datatype to 'Int64'
gapminder['year'] = gapminder['year'].astype('Int64')

#converting population to mlns
gapminder['population [mln]'] = gapminder['population']/1_000_000

In [9]:
gapminder.head()

,country,year,life expectancy,continent,population,fertility,population [mln]
0,Afghanistan,1950,26.85,Asia,7752118.0,7.67,7.752118
1,Afghanistan,1951,27.13,Asia,7839426.0,7.67,7.839426
2,Afghanistan,1952,27.67,Asia,7934798.0,7.67,7.934798
3,Afghanistan,1953,28.19,Asia,8038312.0,7.67,8.038312
4,Afghanistan,1954,28.73,Asia,8150037.0,7.67,8.150037

In [10]:
### Visualize data for one particular year

In [11]:
for year in range(1960, 2016):
    # filtering out 'year' data using boolean mask
    gapminder_year = gapminder[gapminder['year'] == year]
    
    plt.figure(figsize=(8, 6))
    
    sns.scatterplot(x='life expectancy', y='fertility', 
                    data=gapminder_year,
                    size='population [mln]',
                    sizes=(20, 400),
                    palette='rocket',
                    hue='continent' # Color each point according to continent
                   );
    
    # Rotate the x-ticks by 45 degrees
    plt.xticks(rotation=45)

    # Annotate Belarus
    plt.annotate('Belarus', # type() is Series
                 (gapminder_year[gapminder_year['country']=='Belarus']['life expectancy'].iloc[0]-0.50, 
                  gapminder_year[gapminder_year['country']=='Belarus']['fertility'].iloc[0]+0.25));

    plt.annotate('Germany', # type() is Series
                 (gapminder_year[gapminder_year['country']=='Germany']['life expectancy'].iloc[0]-0.50, 
                  gapminder_year[gapminder_year['country']=='Germany']['fertility'].iloc[0]+0.25));


    # Add grid-lines
    plt.grid()

    plt.axis([0, 95, 0, 9.5])
    plt.title(f'Life Expectancy vs Fertility Rate in {year}')
    plt.ylabel('Fertility')
    plt.xlabel('Life Expectancy')

    # saving the image as png
    plt.savefig(f'../images_bel/plot_fig_{year}.png')

    # closing current plot
    plt.close()
    
# end of for-loop

In [12]:
!pip install imageio

Requirement already satisfied: imageio in c:\users\anast\miniconda3\lib\site-packages (2.25.0)
Requirement already satisfied: pillow>=8.3.2 in c:\users\anast\miniconda3\lib\site-packages (from imageio) (9.4.0)
Requirement already satisfied: numpy in c:\users\anast\miniconda3\lib\site-packages (from imageio) (1.24.1)

In [16]:
import imageio

images = []

for year in range(1960, 2016):
    filename = f'../images_bel/plot_fig_{year}.png'
    images.append(imageio.imread(filename))

imageio.mimsave('../images_bel/my_week03.gif', images, fps=1)

C:\Users\anast\AppData\Local\Temp\ipykernel_13088\2053934604.py:7: DeprecationWarning: Starting with ImageIO v3 the behavior of this function will switch to that of iio.v3.imread. To keep the current behavior (and make this warning disappear) use `import imageio.v2 as imageio` or call `imageio.v2.imread` directly.
  images.append(imageio.imread(filename))

In [14]:
# DEBUG for a problemm year

gapminder_year = gapminder[gapminder['year'] == 1981]
gapminder_year.size

1792

In [15]:
v1 = gapminder_year[gapminder_year['fertility']==gapminder_year['fertility'].min()]['country']
v2 = gapminder_year[gapminder_year['fertility']==gapminder_year['fertility'].max()]['country'].iloc[0]

v3 = gapminder_year[gapminder_year['life expectancy']==gapminder_year['life expectancy'].min()]['country'].item()
v4 = gapminder_year[gapminder_year['life expectancy']==gapminder_year['life expectancy'].max()]['country'].item()

lst = [v1, v2, v3, v4]
lst

[2309    Channel Islands
 3180            Denmark
 Name: country, dtype: object,
 'Yemen',
 'Cambodia',
 'Iceland']