# WEEK 03
# Encounter 01 - EDA - Exploratory Data Analysis
# Project Challenge - Solve with One-Liners

## Task Description:

Using the large_countries_2015.csv dataset solve the following tasks with pandas one-liners:
Related files

>large_countries_2015.csv (432 B)

 1. read in data:
>`df = pd.read_csv('../data/large_countries_2015.csv', index_col=0)`

 2. check dataframe for null values

 3. check datatypes

 4. check how many countries from each continent are in the dataset

 5. display a dataframe which only has countries located in Asia

 6. display a dataframe which only has countries that have a population over 250,000,000

 7. display a dataframe which only has countries that have a population of no less than 100,000 and no more than 250,000,000

 8. display a dataframe which only has countries located in Asia that have a fertilitiy rate of less than 1.8

In [1]:
import pandas as pd

In [2]:
# 1. read in data:
df = pd.read_csv('../data/large_countries_2015.csv', index_col=0)

In [3]:
df

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

In [8]:
df.shape

(12, 3)

In [5]:
# 2. check dataframe for null values
df.isnull().sum()

population    0
fertility     0
continent     0
dtype: int64

In [6]:
# 3. check datatypes
df.dtypes

population    float64
fertility     float64
continent      object
dtype: object

In [7]:
# 4. check how many countries from each continent are in the dataset
df['continent'].value_counts()

Asia             7
North America    2
South America    1
Africa           1
Europe           1
Name: continent, dtype: int64

In [9]:
# 5. display a dataframe which only has countries located in Asia
mask = df['continent'] == 'Asia'
df[mask]

               population  fertility continent
Bangladesh   1.609956e+08       2.12      Asia
China        1.376049e+09       1.57      Asia
India        1.311051e+09       2.43      Asia
Indonesia    2.575638e+08       2.28      Asia
Japan        1.265735e+08       1.45      Asia
Pakistan     1.889249e+08       3.04      Asia
Philippines  1.006994e+08       2.98      Asia

In [10]:
# 6. display a dataframe which only has countries that have a population over 250,000,000
mask_pop = df['population'] > 250_000_000
df[mask_pop]

                 population  fertility      continent
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
United States  3.217736e+08       1.97  North America

In [16]:
# 7. display a dataframe which only has countries that have a population of no less than 100,000 and no more than 250,000,000
mask_pop_2 = df['population'].between(100_000, 250_000_000)
df[mask_pop_2]

# NOTES:
# Series.between(left, right, inclusive='both')
# Works! as by default both boundaries are included!
# Exqual to `mask_pop_extra = (df['population'] >= 100_000) & (df['population'] <= 250_000_000)`

              population  fertility      continent
Bangladesh   160995642.0       2.12           Asia
Brazil       207847528.0       1.78  South America
Japan        126573481.0       1.45           Asia
Mexico       127017224.0       2.13  North America
Nigeria      182201962.0       5.89         Africa
Pakistan     188924874.0       3.04           Asia
Philippines  100699395.0       2.98           Asia
Russia       143456918.0       1.61         Europe

In [17]:
# 8. display a dataframe which only has countries located in Asia that have a fertilitiy rate of less than 1.8
mask_complex = (df['continent'] == 'Asia') & (df['fertility'] < 1.8)
df[mask_complex]

         population  fertility continent
China  1.376049e+09       1.57      Asia
Japan  1.265735e+08       1.45      Asia