# Exercises

## Task 1

Fill in the missings!

        ___ make_path(year):
           """Given a year, constructs a valid file path for the names dataset"""
           ___ = f'./___/yob{year}.txt'
           ___ path

        print(___(1987))

Example: Calling the function with

        make_path(1945)

should return

        './data/yob1945.txt'

In [2]:
def make_path(year):
   """Given a year, constructs a valid file path for the names dataset"""
   path = f'../data/yob{year}.txt'
   return path

print(make_path(1987))

../data/yob1987.txt

## Task 2

Fill in the missings! How could we connect it with the previous function?

        def read_year(___):
            df = pd.____csv(path, ____=['name', 'gender', 'frequency'])
           return df

In [8]:
# Just leave it here with error message!
# Resolution is to be complient with the python alignment for RETURN line!!!

def read_year(path):
    df = pd.read_csv(path, names=['name', 'gender', 'frequency'])
   return df

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [9]:
def read_year(path):
    ''' Function gets the path to csv-file, reads it and returns a a DataFrame'''
    df = pd.read_csv(path, names=['name', 'gender', 'frequency'])
    return df

Connecting this function with the previous one:

In [11]:
def read_year(year):
    ''' Function gets the year, constructs path to csv-file (with make_path() function), reads it and returns a a DataFrame'''
    df = pd.read_csv(path=make_path(year), names=['name', 'gender', 'frequency'])
    return df

## Task 3

Bring the following statements into correct order:

           total_minutes = minutes + hours*60
           return total_seconds
        def time_to_sec(hours, minutes, seconds):
        print(time_to_sec(10,10,10))
           total_seconds = seconds + total_minutes*60

In [12]:
def time_to_sec(hours, minutes, seconds):
    total_minutes = minutes + hours*60
    total_seconds = seconds + total_minutes*60
    return total_seconds
    
print(time_to_sec(10,10,10))

36610

## Task 4

Find all bugs and make the functions work!

    def add_together(a):
       return a+b

    bool_to_string(boolean) def:
       """converts True to 'true' and False to 'false'"""
       str(boolean).lower()

    def first_and_last(element):
       """returns the first and last element in a list"""
       return [elements[0], elements[10]]

    def average(numbers):
       """calculates the average of a list of numbers"""
       return summ(numbers)/numbers.len()

    def words_to_upper(words):
       """converts all words in the list to uppercase"""
       words_upper = []
       for word in words:
          return word.upper()

In [27]:
#1 - No exec error, but RED code
def add_together(a,b):    # b function parameter is added
    return a+b

In [28]:
#2 - SyntaxError: invalid syntax
def bool_to_string(boolean):     # Moved 'def' keyword to the very beginning
    """converts True to 'true' and False to 'false'"""
    str(boolean).lower()

In [29]:
#3 - No exec errors, but return uses different name, not as input parameter; also list could be of a different length, not only 10
def first_and_last(elements):
   """returns the first and last element in a list"""
   return [elements[0], elements[len(elements) - 1]]

Example for '#3' execution:

        elements = ['name', 'gender', 'frequency']
        [elements[0], elements[len(elements) - 1]]

Output:
        ['name', 'frequency']

In [39]:
#4 - No exec error, but there is incorrect 'summ' keyword (should be 'sum') and len() is a function, not a method
def average(numbers):
   """calculates the average of a list of numbers"""
   return sum(numbers)/len(numbers)

Example for '#4' execution:

        numbers = [2, 4, 6, 10]

There are 2 errors in RETURN: 
   * NameError: name 'summ' is not defined
   * AttributeError: 'list' object has no attribute 'len'

Corrected code:
        
        sum(numbers)/len(numbers)
        
Output: 5.5

In [42]:
#5 - NO exec error, but RETURN should be only one, at the very end of the function and as a standalone statement
def words_to_upper(words):
    """converts all words in the list to uppercase"""
    words_upper = []
    for word in words:
        words_upper.append(word.upper())
    return words_upper

Example for '#5' execution:

        words = ['mantis', 'drax', 'peter']
        words_to_upper(words)
        
Initial version returns only the first list element converted to uppercase: 'MANTIS'.
Corrected code returns all list elements: 'MANTIS', 'DRAX', 'PETER'.