# WEEK 03
# Encounter 01 - EDA
# BONUS

## Task Description

Use `pandas` to find out which country or countries have a **population** of **63**. 
Where is it located? Have you ever heard of it?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/population.csv')
df

                                   Total population  year  population
0                                          Abkhazia  1800         NaN
1                                       Afghanistan  1800   3280000.0
2                             Akrotiri and Dhekelia  1800         NaN
3                                           Albania  1800    410445.0
4                                           Algeria  1800   2503218.0
...                                             ...   ...         ...
22270                             Northern Marianas  2015         NaN
22271  South Georgia and the South Sandwich Islands  2015         NaN
22272                     US Minor Outlying Islands  2015         NaN
22273                                Virgin Islands  2015         NaN
22274                                     West Bank  2015         NaN

[22275 rows x 3 columns]

In [10]:
# rename columns
df.rename(columns={'Total population':'country'}, inplace=True)
df.columns

Index(['country', 'year', 'population'], dtype='object')

In [11]:
mask_pop = df['population'] == 63
df[mask_pop]['country'].unique()

array(['Pitcairn'], dtype=object)